<div class="container">
	<div class=" first-row" ng-init="showContactInfo">
		<div>
			<h1>About Me</h1>
			<div class="row container">
				<p class="subtitle text-muted">
					<a class="fade-anim">Developer</a> | 
					<a class="fade-anim">Thinker</a> | 
					<a class="fade-anim">Human Being</a>
				</p>	
				<p class="block-text">
					I'm a University of Florida alumnus with a Bachelor of Science in Computer Science. I have a deep passion for learning, especially when it comes down to web and mobile development. I haven't been doing either for (that) long, but I am confident in my abilities to pick anything up with a running start.</p>
				<p class="block-text">
					I dabble in a lot of different environments and technologies. Since starting work at my current company, I've been going full-on Android :)</p>
				<p class="block-text">
					In my spare time, I do a lot of reading, followed by a lot of TV, followed by a lot of sleeping. If you need to get in contact with me, check out my <a href ng-click="showContactInfo=true">contact</a> info. Otherwise, if you want to scout me for a project or a position, take a look at my <a href="#/resume">resume</a>. I'm not currently looking for a job, though.</p>
				</p>
			</div>
		</div>
		<div class="container alert-modal fade-anim" ng-show="showContactInfo">
			<div info-modal></div>
		</div>
	</div>
	<h1>My Websume</h1>
	<div class="row">
	    <div class="col-lg-2 col-sm-2 col-xs-4">
	        <a href="https://github.com/FaytxZen" target="_blank">
	             <img src="images/icons/webicon-github.svg" class="thumbnail img-responsive">
	        </a>
	    </div>
	    <div class="col-lg-2 col-sm-2 col-xs-4">
	        <a href="https://bitbucket.org/FaytxZen" target="_blank">
	             <img src="images/icons/webicon-bitbucket.svg" class="thumbnail img-responsive">
	        </a>
	    </div>
	    <div class="col-lg-2 col-sm-2 col-xs-4">
	        <a href="https://www.linkedin.com/in/andrewvora" target="_blank">
	             <img src="images/icons/webicon-linkedin.svg" class="thumbnail img-responsive">
	        </a>
	    </div>
	     <div class="col-lg-2 col-sm-2 col-xs-4">
	        <a href="https://www.quora.com/Andrew-Jaru" target="_blank">
	             <img src="images/icons/webicon-quora.svg" class="thumbnail img-responsive">
	        </a>
	    </div>
	    <div class="col-lg-2 col-sm-2 col-xs-4">
	        <a href="https://www.hackerrank.com/FaytxZen" target="_blank">
	             <img src="images/icons/webicon-hackerrank-lg.png" class="thumbnail img-responsive">
	        </a>
	    </div>
	     <div class="col-lg-2 col-sm-2 col-xs-4">
	        <a href="http://www.codecademy.com/FaytxZen" target="_blank">
	             <img src="images/icons/codecademy-lg.png" class="thumbnail img-responsive">
	        </a>
	    </div>
	</div>
</div>