/*TAGS============================*/
* {
	outline: none;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 0;
}


/*CLASSES============================*/
.logo-container {
	border-radius: 50%;
}
.logo-container > img.logo {
	max-height: 1.5em;
	margin-top: -3px;
}

a.navbar-brand {
	max-height: 1.5em;
}

.first-row {
	padding-top: 1em;
	padding-bottom: 1em;
}

.show-content {
	visibility: visible;
}

div.main {
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 2em;
}

footer {
	padding-top: 0.5em;
}

div.profile {
	height: auto;
	width: 100%;
	background: black;
	padding: 1em;
	border-radius: 1em;
}

.navbar {
	margin-bottom: 0;
	
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #000000 0%, #1C1C1C 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #000000 0%, #1C1C1C 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #000000 0%, #1C1C1C 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(100, #1C1C1C));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #000000 0%, #1C1C1C 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #000000 0%, #1C1C1C 100%);
}

.hide-content {
	visibility: hidden;
	height: 0;
}

.show-content {
	visibility: visible;
}

.img-container {
	padding-right: 2em;
	padding-bottom: 1em;
}

.badge-container {
	margin-top: -1.5em;
	height: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-fix {
	clear: both;
}

#headliner {
	font-size: 2em;
	font-weight: 500;
}

#subtitle {
	font-size: 1.25em;
}

#resume {
	margin-top: 3em;
}

.text-inverse, .typed-cursor {
	color: white;
	word-wrap: break-word;
}

.resume .main {
	line-height: 1.25;
	font-size: 1.15em;
	margin-left: 1em;
	margin-right: 1em;
}
	.resume .indent-2 {
		padding-left: 2em;
	}

	div.resume-bar {
		margin-bottom: 1.5em;
		margin-left: 1em;
		margin-right: 1em;
	}

	.resume ul {
		line-height: 1.5;
	}

	.resume .main .heading, .resume-lead {
		font-weight: bold;
		font-size: 1.5em;
	}
	.resume-lead {
		font-size: 1em;
	}
	.resume-content {
		padding-top:8px;
		padding-left: 1.5em;
	}

span.underline {
	text-decoration: underline;
}

.download-btn {
	font-size: 1em;

	margin-top: 1.75em;
	margin-left: 1em;
}

img.spin {
	max-width: 10em;
	max-height: 10em;

	margin: 0 auto;

	outline-style: none;
	cursor: pointer;
}

.alert-modal {
	position: fixed;
	top: 25%;
	left: 15%;
	right: 15%;
	max-width: 300px;
	min-width: 250px;
	background: white;
	border: 2px solid black;
	border-radius: 1em;
	line-height: 2;
	text-align: center;
	font-size: 1.25em;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	word-wrap: break-word;
	z-index: 9999;
}


.alert-modal .btn.btn-default {
	margin-top: 1em;
	border: 2px solid gray;
}

.alert-modal span.glyphicon {
	margin-right: 1em;
}

canvas.canvas-responsive {
	margin-right: 1em;
	margin-left: 1em;
}

.btn-choice {
	margin-top: 0.5em;
	border: 3px solid black;
	background: none;
	color: black;
}

.btn-choice:hover, .btn-choice:active {
	background:#000;
	color: white;
}

.subtitle {
	margin-bottom: 1.5em;
}
	.subtitle a {
		font-weight: bold;
		color: black;
		cursor: pointer;
	}
	.subtitle a:hover, .subtitle a:active {
		font-style: none;
	}

p.block-text {
	font-size: 1.25em;
	line-height: 1.5;
	text-indent: 2em;
}

span.glyphicon-lg {
	font-size: 10em;
	cursor: pointer;
}

ul.navbar-nav > li > a.active {
	color: #fff;
}


/*ANIMATIONS============================*/

img.spin:hover {
    -webkit-animation: rotation 8s infinite linear;
	-moz-animation: rotation 8s infinite linear;
	-o-animation: rotation 8s infinite linear;
	animation: rotation 8s infinite linear;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
}

.main {
    -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* easeOutQuad */
}

.main.ng-enter {
    opacity: 0;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -ms-transition-duration: 250ms;
    -o-transition-duration: 250ms;
}

.main.ng-enter-active {
    opacity: 1;
}

.main.ng-leave {
    opacity: 1;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -ms-transition-duration: 250ms;
    -o-transition-duration: 250ms;
}

.main.ng-leave-active {
    opacity: 0;
}

.main.ng-hide-add {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -ms-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    opacity: 1;
}

.main.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.main.ng-hide-remove {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -ms-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    display: block !important;
    opacity: 0;
}

.main.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.fade-anim {
	-webkit-transition: all .15s ease-in-out;
  	-moz-transition: all .15s ease-in-out;
  	-ms-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
}


.alert-modal.ng-hide-remove { 
	-webkit-animation: 0.5s flipInX ease;
   	-moz-animation: 0.5s flipInX ease;
    -ms-animation: 0.5s flipInX ease;
 	-o-animation: 0.5s flipInX ease;
	animation:0.5s flipInX ease; 

}

.alert-modal.ng-hide-add {  	
	-webkit-animation: 0.25s fadeOut ease;
   	-moz-animation: 0.25s fadeOut ease;
    -ms-animation: 0.25s fadeOut ease;
 	-o-animation: 0.25s fadeOut ease;
	animation: 0.25s fadeOut ease;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to   {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}


@-o-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-o-keyframes flipInX {
	0% {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	100% {
		transform: perspective(400px);
		transform: perspective(400px);
		transform: perspective(400px);
	}
}

@-webkit-keyframes flipInX {
	0% {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	100% {
		transform: perspective(400px);
		transform: perspective(400px);
		transform: perspective(400px);
	}
}

@-moz-keyframes flipInX {
	0% {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	100% {
		transform: perspective(400px);
		transform: perspective(400px);
		transform: perspective(400px);
	}
}

@keyframes flipInX {
	0% {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	100% {
		transform: perspective(400px);
		transform: perspective(400px);
		transform: perspective(400px);
	}
}